<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.waze" />
        <package android:name="com.google.android.apps.maps" />
        <package android:name="com.lalamove.huolala.client" />
        <package android:name="com.grabtaxi.driver2" />
        <package android:name="com.transportify.driver" />
        <package android:name="com.deliveree.driver" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="DriverMate PH"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name=".DriverNotificationListener"
            android:label="DriverMate PH Notification Reader"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">

            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>

        </service>

    </application>

</manifest>
